body {
  background-color: #000;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  margin: 10px 0px;
}

p {
  line-height: 1.3;
  text-align: justify;
  margin: 15px;
}

hr {
  border-color: #999999;
  max-width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 25px;
}

a, a:hover {
  color: #515151;
  text-decoration: none
}

.well {
  background-color: #ffffe0;
  font-family: 'Allura';
  font-size: 18px;
}

.site-title, .site-title:hover {
  color: #ffffff;
}

.brand,
.address-bar {
  display: none;
}

.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 16px;
}

.navbar-nav {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.img-full {
  min-width: 100%;
}

.brand-name {
  font-weight: 700;
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: normal;
}

.tagline-divider {
  margin: 15px auto 3px;
  border-color: #999999;
  max-width: 250px;
}

.tagline {
  letter-spacing: 0px;
}

.box {
  background: #ffffff;
  margin-bottom: 20px;
  padding: 5px 70px;
}

.intro-text {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25em;
  font-weight: 400;
}

.img-border {
  float: none;
  margin: 0 auto 0;
  border: #999999 solid 1px;
}

.img-left {
  float: none;
  margin: 0 auto 0;
}

footer {
  padding: 20px 0;
  background: #ffffff;
}

.copyright {
  color: #515151;
}

.navbar-default {
  background: #ffffff;
  border: none;
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .navbar {
    margin-bottom: 0px
  }

  .carousel {
    display: none;
  }

  .brand-logo {
    height: 250px;
    margin: auto;
  }

  footer p {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {

  p {
    font-size: 1.1em;
  }

  .navbar {
    margin-bottom: 20px
  }

  .brand {
    display: inherit;
    text-align: center;
    background-color: #000000;
  }

  .brand img {
    height: 240px;
    padding: 10px 0px 15px 0px;
  }

  .top-divider {
    margin-top: 0;
  }

  .img-left {
    float: left;
    margin-right: 25px;
  }

  .address-bar {
    display: inherit;
    text-align: center;
    margin: 0;
    padding: 0 0 40px;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .navbar {
    border-radius: 0;
    min-height: 0;
  }

  .navbar-header {
    display: none;
  }

  .nav>li>a {
    padding: 5px 23px 5px 23px;
  }

  .navbar-nav>li>a {
    line-height: normal;
  }

  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    font-size: 1.20em;
  }

}

@media screen and (min-width: 992px) {
  footer p {
    margin: 0;
    padding: 5px 0;
  }
}

@media screen and (min-width: 1200px) {
  .box:after {
      content: '';
      display: table;
      clear: both;
  }

}
