<footer>
    <div class="container">
      <div class="row">
            <div class="col-md-4 text-center">
                <p><a>Be in our circle via the newsletter</a></p>
            </div>

            <div class="col-md-4 text-center copyright">
                <p>&copy;2014  {{ site.title }}</p>
            </div>
            <div class="col-md-4 text-center">
              <p>
                <a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-2x"></i></a> &nbsp
                <a href="https://www.facebook.com/BreizhOriginal" <i class="fa fa-facebook fa-2x"></i></a> &nbsp
                <a href="http://instagram.com/breizhoriginal" <i class="fa fa-instagram fa-2x"></i></a> &nbsp
                <a href="" <i class="fa fa-google fa-2x"></i></a> &nbsp
                <a href="https://twitter.com/BreizhOriginal" <i class="fa fa-twitter fa-2x"></i></a>
              </p>
            </div>
        </div>
    </div>
</footer>

<!-- JavaScript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script>
// Activates the Carousel
$('.carousel').carousel({
    interval: 5000
});

$("#bookForm").submit( function(event) {
  // Stop form from submitting normally
  event.preventDefault();

  // Get some values from elements on the page:
  var $form = $( this ),
    term = $form.find( "input[name='s']" ).val(),
    url = $form.attr( "action" );

  // Send the data using post
  var posting = $.post( "http://breizh.herokuapp.com/", { s: term }, function() {
    alert( "success" );
    })
    .done(function() {
      alert( "second success" );
    })
    .fail(function() {
      alert( "error" );
    })
    .always(function() {
      alert( "finished" );
  });

  // Put the results in a div
  posting.done(function( data ) {
    var content = $( data ).find( "#content" );
    $( "#result" ).empty().append( content );
  });
});

</script>
