<footer>
    <div class="container">
      <div class="row">
            <div class="col-md-4 text-center">
              <p><u><a href="http://eepurl.com/ZVWWb">Be in our circle via the newsletter</a></u></p>
            </div>

            <div class="col-md-4 text-center copyright">
                <p>&copy;2014  {{ site.title }}</p>
            </div>
            <div class="col-md-4 text-center">
              <p>
                <a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-2x"></i></a> &nbsp
                <a href="https://www.facebook.com/BreizhOriginal" <i class="fa fa-facebook fa-2x"></i></a> &nbsp
                <a href="http://instagram.com/breizhoriginal" <i class="fa fa-instagram fa-2x"></i></a> &nbsp
                <a href="" <i class="fa fa-google fa-2x"></i></a> &nbsp
                <a href="https://twitter.com/BreizhOriginal" <i class="fa fa-twitter fa-2x"></i></a>
              </p>
            </div>
        </div>
    </div>
</footer>

<!-- JavaScript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script>
// Activates the Carousel
$('.carousel').carousel({
    interval: 5000
});

$("#bookForm").submit( function(event) {
  // Stop form from submitting normally
  event.preventDefault();
  error = false;
  // Get some values from elements on the page:
  guest_name = $("#InputName").val();
  guest_email = $("#InputEmail").val();
  guest_seats = $("#SelectNumber").val();
  guest_time = $("#SelectTime").val();
  guest_comments = $("#SelectNotes").val();

  if (guest_name == "") {
    error = true;
    $("#InputName").parent().addClass('has-error');
    $("#InputName").after("<span class=\"help-inline\" style=\"color:red;\"><strong>Please give your full name.</strong></span>");
  }else{
    $("#InputName").parent().removeClass('has-error');
    $("#InputName").nextAll().remove();
  }

  if ( /(.+)@(.+){2,}\.(.+){2,}/.test(guest_email) ) {
    $("#InputEmail").parent().removeClass('has-error');
    $("#InputEmail").nextAll().remove();
  }else{
    error = true;
    $("#InputEmail").parent().addClass('has-error');
    $("#InputEmail").after("<span class=\"help-inline\" style=\"color:red;\"><strong>Please make sure your email address is valid.</strong></span>");
  }

  if (error == true) { return false; }

  $('#spinner').fadeIn('fast');
  // Send the data using post
  $.post( "http://breizh.herokuapp.com/", { name: guest_name, email: guest_email, seats: guest_seats, time: guest_time, comments: guest_comments }, null)
    .done(function() {
      $("#reservation").fadeOut('fast', function(){
        $("#successEnquire").fadeIn('fast');
      });
    })
    .fail(function() {
      $("#reservation").fadeOut('fast', function(){
        $("#failEnquire").fadeIn('fast');
      });
    })
    .always(function() {
      $('#spinner').stop().fadeOut('fast');
    });
});
</script>
