<footer>
    <div class="container">
      <div class="row">
            <div class="col-md-4 text-center">
                <p><a>Be in our circle via the newsletter</a></p>
            </div>

            <div class="col-md-4 text-center copyright">
                <p>&copy;2014  {{ site.title }}</p>
            </div>
            <div class="col-md-4 text-center">
              <p>
                <a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-2x"></i></a> &nbsp
                <a href="https://www.facebook.com/BreizhOriginal" <i class="fa fa-facebook fa-2x"></i></a> &nbsp
                <a href="" <i class="fa fa-instagram fa-2x"></i></a> &nbsp
                <a href="" <i class="fa fa-google fa-2x"></i></a> &nbsp
                <a href="" <i class="fa fa-twitter fa-2x"></i></a>
              </p>
            </div>
        </div>
    </div>
</footer>

<!-- JavaScript -->
<script src="{{ site.baseurl }}/js/jquery-1.10.2.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script>
// Activates the Carousel
$('.carousel').carousel({
    interval: 5000
})
</script>
