<header>

  <div class="wrap">

    <div class="brand">
        <a class="site-title" href="{{ site.url }}/">
            <img src="{{site.url}}/img/breizh-logo-white-small.png" alt="Breizh Original Crêperie logo">
        </a>
    </div>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="site-title" href="{{ site.url }}/">
                  <img src="{{site.url}}/img/breizh-logo-black-small.png" alt="Breizh Original Crêperie logo">
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                  <li><a href="{{site.url}}/menu/"><strong> Menu </strong></a>
                    </li>
                    <li><a href="{{site.url}}/food-facts/"><strong> Food Facts </strong></a>
                    </li>
                    <li><a href="{{site.url}}/about-us/"><strong> About Us </strong></a>
                    </li>
                    <li><a href="{{site.url}}/story/"><strong> (Hi)Story </strong></a>
                    </li>
                    <li><a href="{{site.url}}/blog/"><strong> Blog </strong></a>
                    </li>
                </ul>
            </div>
        </div>

      </nav>

  </div>

</header>
